@import "handsontable/dist/handsontable.min.css";

.user-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.handsontable table thead th {
  font-weight: bold;
  font-size: 15px;
}
