<div class="container">
  <form [formGroup]="form" ngNativeValidate (submit)="onSubmit()">
    <div class="row text-center">
      <div class="col">
        <h3>DEMAND FOR (MACHINE) BLOCK</h3>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-auto me-auto">
        <div class="form-group mt-3 mb-3">
          <label>Department</label>
          <select class="form-select" formControlName="department">
            <option value="CONSTRUCTION">CONSTRUCTION</option>
            <option value="ENGINEERING">ENGINEERING</option>
            <option value="S&T">S&T</option>
            <option value="ELECTRIC">ELECTRIC</option>
            <option value="RE">RE</option>
            <option value="RVNL">RVNL</option>
            <option value="SIGNAL">SIGNAL</option>
            <option value="Telecom">Telecom</option>
            <option value="TRD">TRD</option>
          </select>
        </div>
      </div>

      <div class="col-auto">
        <button class="btn btn-primary btn-lg me-2" (click)="onAddNewForm()">
          Add
        </button>

        <button class="btn btn-success btn-lg me-2" type="submit">
          Submit
        </button>
      </div>
    </div>
    <div
      class="accordion"
      id="accordionPanelsStayOpenExample"
      formArrayName="machineFormGroup"
    >
      <ng-container
        *ngFor="let item of machineFormGroupControls | keyvalue; let i = index"
      >
        <div class="accordion-item mb-2">
          <h2 class="accordion-header d-flex">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              [attr.data-bs-target]="'#collapse' + i"
              aria-expanded="true"
              [attr.aria-controls]="'collapse' + i"
            >
              {{ department.value }}-{{ i + 1 }}
            </button>
            <button
              class="btn btn-outline-danger ms-2"
              (click)="onDelete(item.key)"
            >
              Delete
            </button>
          </h2>
          <div [id]="'collapse' + i" class="accordion-collapse collapse show">
            <div class="accordion-body">
              <div [formGroupName]="item.key">
                <app-lmg-form
                  [machineForm]="item.value"
                  [department]="department.value"
                ></app-lmg-form>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </form>
</div>

<!-- <div class="col-sm-6 col-md-3">
  <div class="form-group mt-3 mb-3">
    <label>DISCONNECTION DEMAND HOURS</label>
    <input
      type="text"
      class="form-control"
      placeholder="Enter DISCONNECTION DEMAND HOURS"
      formControlName="lineNo"
    />
  </div>
</div> -->
