<div class="home">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <h3 routerLink="">LMG DIVISION</h3>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle active"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Demand
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" routerLink="machineRoll"
                  >Machine(Roll)</a
                >
              </li>
              <li><a class="dropdown-item">maintenance(Roll)</a></li>
              <li><a class="dropdown-item">Machine(Non-Roll)</a></li>
              <li>
                <a class="dropdown-item">maintenance(Non-Roll)</a>
              </li>
              <li>
                <a class="dropdown-item">Machine(Upload File)</a>
              </li>
              <li>
                <a class="dropdown-item">maintenance(Upload File)</a>
              </li>
              <li><a class="dropdown-item">Edit</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle active"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Output
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item">All</a></li>
              <li><a class="dropdown-item">Rolling</a></li>
              <li><a class="dropdown-item">Non-Rolling</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Reports
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item">Demand Rolling</a></li>
              <li><a class="dropdown-item">Demand Non-Rolling</a></li>
              <li><a class="dropdown-item">Machine Block</a></li>
              <li><a class="dropdown-item">maintenance Block</a></li>
              <li><a class="dropdown-item">Block summary</a></li>
            </ul>
          </li>
          <li></li>
        </ul>
        <button class="btn btn-outline-dark rounded" (click)="onLogout()">
          Sign Out
        </button>
      </div>
    </div>
  </nav>
</div>
