.navStyle {
  display: flex;
  justify-content: space-between;
}
.nav-item {
  margin: 0 3rem;
}
@media only screen and (max-width: 600px) {
  .navStyle {
    display: block;
  }
  .nav-item {
    margin: 0px;
  }
}
