<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top shadow">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home">LMG DIVISION</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse navStyle justify-content-between"
      id="navbarNavDropdown"
    >
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle active"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Demand
          </a>
          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown"
                routerLink="add-machineRoll"
                >Machine(Roll)</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown"
                >maintenance(Roll)</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown"
                >Machine(Non-Roll)</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown"
                >maintenance(Non-Roll)</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown"
                >Machine(Upload File)</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown"
                >maintenance(Upload File)</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown"
                >Edit</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle active"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Output
          </a>
          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown"
                >All</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown"
                routerLink="machineRoll"
                >Rolling</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown"
                >Non-Rolling</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Reports
          </a>
          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown"
                >Demand Rolling</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown"
                >Demand Non-Rolling</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown"
                >Machine Block</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown"
                >maintenance Block</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown"
                >Block summary</a
              >
            </li>
          </ul>
        </li>
      </ul>
      <button class="btn btn-outline-dark rounded" (click)="onLogout()">
        Sign Out
      </button>
    </div>
  </div>
</nav>
