<div class="m-3">
  <div class="row">
    <div class="">
      <div ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills">
        <ng-container ngbNavItem="board">
          <button ngbNavLink>BOARD</button>
          <ng-template ngbNavContent>
            <div class="row ">
              <div class="col-6 AddDetails">
                <label>BOARD</label>
                <input id="typeahead-format" class="form-control" type="text" name="board" [(ngModel)]="board"
                  [ngbTypeahead]="search" [resultFormatter]="formatter" />
                <button class="btn btn-primary" (click)="addBoard()">ADD</button>
              </div>
              <div class="col-6">
                <div class="">Board</div>
                @for(board of boardList; track $index){
                {{board}}
                }
              </div>
            </div>

          </ng-template>
        </ng-container>

        <ng-container ngbNavItem="section">
          <button ngbNavLink>SECTION</button>
          <ng-template ngbNavContent>
            <div class="row ">
              <div class="col-6 AddDetails">
                <div class="form-group">
                  <label>BOARD</label>
                  <select class="form-select" [(ngModel)]="board">
                    <option value="" selected disabled>Select Board</option>
                    @for(board of boardList; track $index){
                    <option value="{{board}}">{{board}}</option>
                    }
                  </select>
                </div>
                <label>SECTION</label>
                <input id="typeahead-format" type="text" class="form-control" name="section" [(ngModel)]="section"
                  [ngbTypeahead]="search" [resultFormatter]="formatter" />
                <button class="btn btn-primary" (click)="addSection()">ADD</button>
              </div>
              <div class="col-6">
                <div class="">section</div>
                @for(item of dataSet; track $index){
                @if(item.board===board){
                {{item.section}}
                }
                }
              </div>
            </div>
          </ng-template>
        </ng-container>

        <ng-container ngbNavItem="mps">
          <button ngbNavLink>MPS</button>
          <ng-template ngbNavContent>
            <div class="row ">
              <div class="col-6 AddDetails">
                <div class="form-group">
                  <label>BOARD</label>
                  <select class="form-select" [(ngModel)]="board">
                    <option value="" selected disabled>Select Board</option>
                    @for(board of boardList; track $index){
                    <option value="{{board}}">{{board}}</option>
                    }
                  </select>
                </div>
                <div class="form-group">
                  <label>SECTION</label>
                  <select class="form-select" [(ngModel)]="section">
                    <option value="" selected disabled>Select Board</option>
                    @for(section of sectionList; track $index){
                    <option value="{{section}}">{{section}}</option>
                    }
                  </select>
                </div>
                <label>MPS</label>
                <input id="typeahead-format" class="form-control" type="number" name="mps" [(ngModel)]="mps"
                  [ngbTypeahead]="search" [resultFormatter]="formatter" />
                <button class="btn btn-primary" (click)="addMPS()">ADD</button>
              </div>
              <div class="col-6">
                <div class="">mps</div>
                @for(item of dataSet; track $index){
                @if(item.section===section && item.board===board){
                {{item.mps}}
                }
                }
              </div>
            </div>
          </ng-template>
        </ng-container>

        <ng-container ngbNavItem="station">
          <button ngbNavLink>STATION</button>
          <ng-template ngbNavContent>
            <div class="row ">
              <div class="col-6 AddDetails">
                <div class="form-group">
                  <label>BOARD</label>
                  <select class="form-select" [(ngModel)]="board">
                    <option value="" selected disabled>Select Board</option>
                    @for(board of boardList; track $index){
                    <option value="{{board}}">{{board}}</option>
                    }
                  </select>
                </div>
                <div class="form-group">
                  <label>SECTION</label>
                  <select class="form-select" [(ngModel)]="section">
                    <option value="" selected disabled>Select Board</option>
                    @for(section of sectionList; track $index){
                    <option value="{{section}}">{{section}}</option>
                    }
                  </select>
                </div>
                <label>STATION</label>
                <input id="typeahead-format" class="form-control" type="text" name="station" [(ngModel)]="station"
                  [ngbTypeahead]="search" [resultFormatter]="formatter" />
                <button class="btn btn-primary" (click)="addStation()">ADD</button>
              </div>
              <div class="col-6">
                <div class="">STATION</div>
                @for(item of dataSet; track $index){
                @if(item.section === section && item.board===board){
                {{item.stations}}
                }
                }
              </div>
            </div>
          </ng-template>
        </ng-container>

        <ng-container ngbNavItem="slot">
          <button ngbNavLink>SLOT</button>
          <ng-template ngbNavContent>
            <div class="row ">
              <div class="col-6 AddDetails">
                <div class="form-group">
                  <label>BOARD</label>
                  <select class="form-select" [(ngModel)]="board">
                    <option value="" selected disabled>Select Board</option>
                    @for(board of boardList; track $index){
                    <option value="{{board}}">{{board}}</option>
                    }
                  </select>
                </div>
                <div class="form-group">
                  <label>SECTION</label>
                  <select class="form-select" [(ngModel)]="section">
                    <option value="" selected disabled>Select Board</option>
                    @for(section of sectionList; track $index){
                    <option value="{{section}}">{{section}}</option>
                    }
                  </select>
                </div>
                <div class="">
                  <div class="">DIRECTION</div>

                  @for (item of directions; track $index) {
                  <input type="checkbox" class="btn-check" id='{{$index}}' [(ngModel)]="directions[$index]['checked']">
                  <label class="btn btn-outline-primary ms-3" for={{$index}}>{{item['direction']}}</label>

                  }
                </div>
                <label>AVAILABLE SLOT</label>
                <br>
                <div class="avl-slot">
                  <hr>
                  @for (direction of directions; track $index) {
                  @if(direction['checked']){
                  <div class="">
                    <h3 class="">{{direction['direction']}}</h3>
                    <div class="">Repeat on</div>
                    <input type="checkbox" class="btn-check" id="Sunday{{selectedAvl}}{{$index}}"
                      [(ngModel)]="direction.days[0]">
                    <label class="btn btn-outline-primary ms-3" for="Sunday{{selectedAvl}}{{$index}}">S</label>
                    <input type="checkbox" class="btn-check" id="Monday{{selectedAvl}}{{$index}}"
                      [(ngModel)]="direction.days[1]">
                    <label class="btn btn-outline-primary ms-3" for="Monday{{selectedAvl}}{{$index}}">M</label>
                    <input type="checkbox" class="btn-check" id="Tuesday{{selectedAvl}}{{$index}}"
                      [(ngModel)]="direction.days[2]">
                    <label class="btn btn-outline-primary ms-3" for="Tuesday{{selectedAvl}}{{$index}}">T</label>
                    <input type="checkbox" class="btn-check" id="Wednesday{{selectedAvl}}{{$index}}"
                      [(ngModel)]="direction.days[3]">
                    <label class="btn btn-outline-primary ms-3" for="Wednesday{{selectedAvl}}{{$index}}">W</label>
                    <input type="checkbox" class="btn-check" id="Thursday{{selectedAvl}}{{$index}}"
                      [(ngModel)]="direction.days[4]">
                    <label class="btn btn-outline-primary ms-3" for="Thursday{{selectedAvl}}{{$index}}">T</label>
                    <input type="checkbox" class="btn-check" id="Friday{{selectedAvl}}{{$index}}"
                      [(ngModel)]="direction.days[5]">
                    <label class="btn btn-outline-primary ms-3" for="Friday{{selectedAvl}}{{$index}}">F</label>
                    <input type="checkbox" class="btn-check" id="Saturday{{selectedAvl}}{{$index}}"
                      [(ngModel)]="direction.days[6]">
                    <label class="btn btn-outline-primary ms-3" for="Saturday{{selectedAvl}}{{$index}}">S</label>
                    <div class="mt-3">Timing</div>
                    <div class="row  justify-content-center">
                      <div class="col-6 ">
                        <label>Start:</label>
                        <ngb-timepicker [(ngModel)]="direction['start']" />
                      </div>
                      <div class="col-6">
                        <label>end:</label>
                        <ngb-timepicker [(ngModel)]="direction['end']" />
                      </div>
                    </div>
                    <hr>
                  </div>
                  }
                  }

                </div>
                <button type="button" class="btn btn-primary" (click)="onSubmitAvl()">Submit</button>
              </div>
              <div class="col-6">
                <div class="">STATION</div>
                @for(item of dataSet; track $index){
                @if(item.section === section && item.board===board){
                <div class="">
                  DIRECTIONS:{{item.directions}}
                </div>
                @for(ele of item.directions; track $index){
                <div class="">
                  DAYS:{{item.slots[ele].days}}
                </div>
                <div class="">
                  TIME:{{item.slots[ele].time}}
                </div>
                }
                }
                }
              </div>
            </div>
          </ng-template>
        </ng-container>

        <ng-container ngbNavItem="machine">
          <button ngbNavLink>MACHINE</button>
          <ng-template ngbNavContent>
            <div class="row">
              <div class="col-6 AddDetails">
                <label>MACHINE</label>
                <input id="typeahead-format" class="form-control" type="text" name="machine" [(ngModel)]="machine"
                  [ngbTypeahead]="search" [resultFormatter]="formatter" />
                <button class="btn btn-primary" (click)="addMachine()">ADD</button>
              </div>
              <div class="col-6">
                <div class="">MACHINES</div>
                @for(item of machineList; track $index){
                {{item.machine}}
                }
              </div>
            </div>

          </ng-template>
        </ng-container>

      </div>

      <div [ngbNavOutlet]="nav" class="ms-4"></div>
    </div>
  </div>
</div>



<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">AVAILABLE SLOTS</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body ">
        <div class="">
          <div class="">DIRECTION</div>
          @for (item of directions; track $index) {
          <input type="checkbox" class="btn-check" id='{{$index}}' [(ngModel)]="directions[$index]['checked']">
          <label class="btn btn-outline-primary" for={{$index}}>{{item['direction']}}</label>
          }
        </div>
        <hr>
        @for (direction of directions; track $index) {
        @if(direction['checked']){
        <div class="">
          <h3 class="">{{direction['direction']}}</h3>
          <div class="">Repeat on</div>
          <input type="checkbox" class="btn-check" id="Sunday{{selectedAvl}}{{$index}}" [(ngModel)]="direction.days[0]">
          <label class="btn btn-outline-primary" for="Sunday{{selectedAvl}}{{$index}}">S</label>
          <input type="checkbox" class="btn-check" id="Monday{{selectedAvl}}{{$index}}" [(ngModel)]="direction.days[1]">
          <label class="btn btn-outline-primary" for="Monday{{selectedAvl}}{{$index}}">M</label>
          <input type="checkbox" class="btn-check" id="Tuesday{{selectedAvl}}{{$index}}"
            [(ngModel)]="direction.days[2]">
          <label class="btn btn-outline-primary" for="Tuesday{{selectedAvl}}{{$index}}">T</label>
          <input type="checkbox" class="btn-check" id="Wednesday{{selectedAvl}}{{$index}}"
            [(ngModel)]="direction.days[3]">
          <label class="btn btn-outline-primary" for="Wednesday{{selectedAvl}}{{$index}}">W</label>
          <input type="checkbox" class="btn-check" id="Thursday{{selectedAvl}}{{$index}}"
            [(ngModel)]="direction.days[4]">
          <label class="btn btn-outline-primary" for="Thursday{{selectedAvl}}{{$index}}">T</label>
          <input type="checkbox" class="btn-check" id="Friday{{selectedAvl}}{{$index}}" [(ngModel)]="direction.days[5]">
          <label class="btn btn-outline-primary" for="Friday{{selectedAvl}}{{$index}}">F</label>
          <input type="checkbox" class="btn-check" id="Saturday{{selectedAvl}}{{$index}}"
            [(ngModel)]="direction.days[6]">
          <label class="btn btn-outline-primary" for="Saturday{{selectedAvl}}{{$index}}">S</label>
          <div class="mt-3">Timing</div>
          <div class="row  justify-content-center">
            <div class="col-6 ">
              <label>Start:</label>
              <ngb-timepicker [(ngModel)]="direction['start']" />
            </div>
            <div class="col-6">
              <label>end:</label>
              <ngb-timepicker [(ngModel)]="direction['end']" />
            </div>
          </div>
          <hr>
        </div>
        }
        }

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="onSubmitAvl()">Submit</button>
      </div>
    </div>
  </div>
</div>