.home {
  background-image: url(../../../assets/homepage2.jpg);
  height: 94.2svh;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.heading {
  position: absolute;
  top: 217px;
  left: 116px;
}
.title {
  font-size: 40px;
}
