.gradient-custom-2 {
  background: rgb(250, 92, 92);
}
@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}

.signUp {
  border: 2px solid white;
  background: transparent;
  border-radius: 30px;
  color: #fff;
  padding: 10px 40px;
}

.btn {
  color: #fff;
  border-radius: 30px;
  padding: 10px 40px;
}

.form-control {
  background: rgb(186, 219, 252);
}
.form-select {
  background: rgb(186, 219, 252);
}
.login {
  height: 4rem;
  font-size: larger;
}

.register {
}
