<div class="home">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle active"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Demand
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Machine(Roll)</a></li>
              <li><a class="dropdown-item" href="#">maintenance(Roll)</a></li>
              <li><a class="dropdown-item" href="#">Machine(Non-Roll)</a></li>
              <li>
                <a class="dropdown-item" href="#">maintenance(Non-Roll)</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Machine(Upload File)</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">maintenance(Upload File)</a>
              </li>
              <li><a class="dropdown-item" href="#">Edit</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle active"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Output
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">All</a></li>
              <li><a class="dropdown-item" href="#">Rolling</a></li>
              <li><a class="dropdown-item" href="#">Non-Rolling</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Reports
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Demand Rolling</a></li>
              <li><a class="dropdown-item" href="#">Demand Non-Rolling</a></li>
              <li><a class="dropdown-item" href="#">Machine Block</a></li>
              <li><a class="dropdown-item" href="#">maintenance Block</a></li>
              <li><a class="dropdown-item" href="#">Block summary</a></li>
            </ul>
          </li>
          <li></li>
        </ul>
        <button class="btn btn-outline-dark rounded">Sign Out</button>
      </div>
    </div>
  </nav>
</div>
